<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <style>
        body {
            /*overflow-x: hidden;
            overflow-y: hidden;*/
            overflow: auto;
        }
        * {
            box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .col-lg-2 {
            height: 100vh;
            padding-top: 25px;
            padding-left: 30px;
        }
        .col-lg-10 {
            height: 100vh;
            padding-top: 25px;
            padding-left: 50px;
        }
    </style>
</head>
<body>

<!--navigation bar for project name and logout link-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
    <ul class="navbar-nav mr-auto">
                        <span class="navbar-text">
                            Video Player Project
                        </span>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>

<div class="row">
    <div class="col-lg-2" style="background-color:rgb(245,245,245);">
        <form action="/admin"><button type="submit" class="btn btn-light btn-lg btn-block">Admin page "Users"</button></form>
        <form action="/admin/videos"><button type="submit" class="btn btn-light btn-lg btn-block">Admin page "Videos"</button></form>
        <form action="/admin/user"><button type="submit" class="btn btn-primary btn-lg btn-block">User page</button></form>
    </div>
    <div class="col-lg-10" style="background-color:rgb(235,235,235);">
        <h3>
            <p>User page:</p>
            <p>You logged in as: <span sec:authentication="name"></span></p>
            <p>Name: <span th:text="${user.name}"></span></p>
            <p>Email: <span th:text="${user.email}"></span></p>
        </h3>
        <!--<div class="search-container">
            <input type="text" id="videoTitleId" placeholder="Search.." name="search">
            <button type="submit" onclick="findVideoByTitle();">🔍</button>
        </div>-->
        <div class="ui-widget">
            <label for="tags">Search: </label>
            <input id="tags" size = "75">
            <button type="submit" onclick="findContent()">🔍</button>
        </div>
        <div class="ui-icon-video" id="videoContentId"></div>
    </div>
</div>

<!--VIDEO MODAL-->
<div id="videoAdminModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <!-- Modal content-->
        <div class="modal-content" style="background-color:rgb(235,235,235);">
            <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
            <div class="modal-body"><div id="videoAdminModalContentId"></div></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

</body>

<script>
    $( function() {
        $.ajax({
            url: '/rest/user/videos/titles',
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                let result = [];
                let keys = Object.keys(data);
                keys.forEach(function(key){
                    result.push(data[key]);
                });
                $("#tags").autocomplete({
                    source: result
                });
            }
        });

        $('#videoContentId').empty().append(
            '<div class="container-fluid">' +
            '  <div class="row no-gutters">' +
            '    <div class="p-4">' +
            '        <div>Movie 1</div>' +
            '        <button type="image" onclick="showVideoModal(' + 1 + ')">' +
            '           <img src="https://www.joblo.com/assets/images/oldsite/top_ten_gallery_img/cc45980a-dd13-1e41.jpg" width="360" height="240"/>' +
            '        </button>' +
            '    </div>' +
            '    <div class="p-4">' +
            '        <div>Movie 2</div>' +
            '        <button type="image" onclick="showVideoModal(' + 2 + ')">' +
            '           <img src="https://static.toiimg.com/thumb/msid-56312948,imgsize-43945,width-1000,height-562,resizemode-8/56312948.jpg" width="360" height="240"/>' +
            '        </button>' +
            '    </div>' +
            '    <div class="p-4">' +
            '        <div>Movie 3</div>' +
            '        <button type="image" onclick="showVideoModal(' + 3 + ')">' +
            '           <img src="https://www.enchanted.media/wp-content/uploads/edd/2020/09/Vintage-Classic-Movie-Titles-Free-Premiere-Pro-Template.jpg" width="360" height="240"/>' +
            '        </button>' +
            '    </div>' +
            '  </div>' +
            '  <div class="row no-gutters">' +
            '    <div class="p-4">' +
            '        <div>Movie 4</div>' +
            '        <button type="image" onclick="showVideoModal(' + 4 + ')">' +
            '           <img src="https://www.enchanted.media/wp-content/uploads/edd/2020/09/Vintage-Classic-Film-Noir-Detective-Movie-Title.jpg" width="360" height="240"/>' +
            '        </button>' +
            '    </div>' +
            '    <div class="p-4">' +
            '        <div>Movie 5</div>' +
            '        <button type="image" onclick="showVideoModal(' + 5 + ')">' +
            '           <img src="https://www.enchanted.media/wp-content/uploads/edd/2020/09/Vintage-Classic-Horror-Movie-Title-Final.jpg" width="360" height="240"/>' +
            '        </button>' +
            '    </div>' +
            '    <div class="p-4">' +
            '        <div>Movie 6</div>' +
            '        <button type="image" onclick="showVideoModal(' + 6 + ')">' +
            '           <img src="https://www.enchanted.media/wp-content/uploads/edd/2020/09/Vintage-Classic-Wild-West-Movie-Title.jpg" width="360" height="240"/>' +
            '        </button>' +
            '    </div>' +
            '  </div>' +
            '  <div class="row no-gutters">' +
            '    <div class="p-4">' +
            '        <div>Movie 7</div>' +
            '        <button type="image" onclick="showVideoModal(' + 7 + ')">' +
            '           <img src="https://d39l2hkdp2esp1.cloudfront.net/img/eps/E4876_2x/c/E4876_07.jpg" width="360" height="240"/>' +
            '        </button>' +
            '    </div>' +
            '    <div class="p-4">' +
            '        <div>Movie 8</div>' +
            '        <button type="image" onclick="showVideoModal(' + 8 + ')">' +
            '           <img src="https://d39l2hkdp2esp1.cloudfront.net/img/eps/E4876_2x/c/E4876_00.jpg" width="360" height="240"/>' +
            '        </button>' +
            '    </div>' +
            '    <div class="p-4">' +
            '        <div>Movie 9</div>' +
            '        <button type="image" onclick="showVideoModal(' + 9 + ')">' +
            '           <img src="https://d39l2hkdp2esp1.cloudfront.net/img/eps/E4876_2x/c/E4876_01.jpg" width="360" height="240"/>' +
            '        </button>' +
            '    </div>' +
            '  </div>' +
            '</div>');

    });

    function showVideoModal(id) {
        $.ajax({
            url: '/rest/admin/videos/' + id,
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                $('#videoAdminModalContentId').empty().append(
                    '<center><wbr><h3>Title: ' + data.title + '. Genre: ' + data.genre + '. Format: ' + data.format + '.</h3>' + '<p><wbr>' +
                    '<video width="1280" height="720" controls>' +
                    '<source src="' + data.url + '" type="video/' + data.format + '">' +
                    '</video></center>');
                $("#videoAdminModal").modal('show');
            }
        });
    }

    function findVideoByTitle() {
        let videoTitle = document.getElementById("videoTitleId").value;
        $.ajax({
            url: '/rest/user/videos/' + videoTitle,
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                $('#videoContentId').empty().append(
                    '<center><wbr><h3>Title: ' + data.title + '. Genre: ' + data.genre + '. Format: ' + data.format + '.</h3>' + '<p><wbr>' +
                    '<video width="1280" height="720" controls>' +
                    '<source src="' + data.url + '" type="video/' + data.format + '">' +
                    '</video></center>');
            }
        });
    }

    function findContent() {
        let videoTitle = document.getElementById("tags").value;
        $.ajax({
            url: '/rest/user/videos/' + videoTitle,
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                $('#videoContentId').empty().append(
                    '<center><wbr><h3>Title: ' + data.title + '. Genre: ' + data.genre + '. Format: ' + data.format + '.</h3>' + '<p><wbr>' +
                    '<video width="1280" height="720" controls>' +
                    '<source src="' + data.url + '" type="video/' + data.format + '">' +
                    '</video></center>');
            }
        });
    }
</script>

</html>
