<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Access denied</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        body {
            /*overflow-x: hidden;
            overflow-y: hidden;*/
            overflow: auto;
        }
        * {
            box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .col-lg-2 {
            height: 100vh;
            padding-top: 25px;
            padding-left: 30px;
        }
        .col-lg-10 {
            height: 100vh;
            padding-top: 25px;
            padding-left: 50px;
        }
    </style>
</head>
<body>

<!--navigation bar for project name and logout link-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
    <ul class="navbar-nav mr-auto">
                        <span class="navbar-text">
                            Video Player Project
                        </span>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>

<div class="row">
    <div class="col-lg-2" style="background-color:rgb(245,245,245);">
        <form action="/admin"><button type="submit" class="btn btn-primary btn-lg btn-block">admin page</button></form>
        <form action="/user"><button type="submit" class="btn btn-light btn-lg btn-block">user page</button></form>
    </div>
    <div class="col-lg-10" style="background-color:rgb(235,235,235);">
        <h3>HTTP Status 403 - Access is denied</h3>
        <h3>Login : <span sec:authentication="name"></span> </h3>
        <p><h3>You do not have permission to access this page!</h3>
    </div>
</div>

</body>
</html>
